{% extends 'Main/tasks.html' %}
{% block task_page %}
<div class="accordion" id="accordionExample">
  <div class="title-view-user-task">
    <h4 class="border-bottom m-4" style="font-size: 40px;padding-bottom: 20px;">
      Tasks
    </h4>
    <a type="button" data-toggle="modal" data-target="#new-user-task">
        <i id="loadToolbar-modal" class="far fa-plus-square fa-3x" aria-hidden="true" style="right:8%;position: absolute;top:8%;">
        <sup class="text-muted" style="font-size: 18px">Add new task</sup>
        
        </i>
    </a>
  </div> 
    {% for pk,task in tasks.items %}
        
        <div class="card">
          <div class="card-header bg-light" id="heading_{{ forloop.counter }}">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{ forloop.counter }}" id="title_btn">
                {{task.title}}
                {% if task.status == "done" %}
                  <i class="fa fa-circle fa-1x mx-4 status-cricle" aria-hidden="true" style="color:blue;" title="task completed"></i>
                {% else %}
                  <i class="fa fa-circle fa-1x mx-4 status-cricle" aria-hidden="true" style="color: rgb(223, 226, 27)" title="task in progress"></i>
                {% endif %}
              </button>
              <!-- Assigned by -->
              <span class="text-size-small text-muted">Assigned by </span>
              <a href="{% url 'profile' task.assigner %}" class="text-size-small">
                {{task.assigner}}
              </a>
              <!-- Task Finished Button -->
              <a href="{% url 'markTaskComplete' %}?pk={{pk}}" class="markTaskFinished" >
                <i class="fa fa-check fa-2x" aria-hidden="true" style="position: absolute;right:2%;" data-title = "{{ task.title }}" data-toggle="tooltip" title="mark task complete"></i>
              </a>
            <!-- Task Edit Button -->
            <a href="{% url 'edit_tasks' %}?pk={{pk}}" id="editTask">
              <i class="fas fa-edit fa-2x"  style="position: absolute; right:10%;" title="Edit task" data-toggle="tooltip"></i>
            </a>
            </h5>

          </div>
      
          <div id="collapse_{{ forloop.counter }}" class="collapse" data-parent="#accordionExample">
            <div class="card-body bg-white">
              <h6 class="dsc-title text-muted border-bottom pb-1">
                Description
              </h6>
              <div class="ml-4 " style="line-height:1.8">
                {% autoescape off %}
                  {{task.description|linebreaks}}
                {% endautoescape %}
              </div>
              <!-- Comment section -->
              
              <div class="comments pb-4">
                <h5 class="comment-title text-muted border-bottom pb-1">
                  comments
                </h5>
                  {% for d,cms in task.comments.items %}
                    <h6 class="pt-4 text-muted border-bottom">
                      Date :- {{d}}
                    </h6>
                    <div class="comments-content">
                    <ul>
                      {% for comment in cms %}
                        <li>{{comment}}</li>
                      {% endfor %}
                    </ul>
                    </div>
                  {% endfor %}
              </div>
              
                {% if task.comments.items|length > 0 %}
                  <div class="border-bottom"></div>
                {% endif %}
              <!-- New comment section -->
              <div class="m-4">
                <form method="post">
                  {{form_comment.as_p}}
                  {%csrf_token%}
                  <input type="hidden" name="task_id" value="{{pk}}">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    <!-- Modal -->
    <div class="modal fade" id="new-user-task" tabindex="-1" role="dialog" aria-labelledby="new-user-task" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new task</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          <div class="modal-body">
            <div class="container-fluid">
                <form method="post" id="TaskForm">
                    {% csrf_token %}
                    {% for field in form_task %}
                      <label for="{{field.label}}">{{field.label}}</label>
                      {% if field.html_name == "createUserTask-task_description" %}
                        <div class="editor" contenteditable="true" style="height: 300px">
                        </div>
                        <input type="hidden" cols="40" rows="15"  name="{{field.html_name}}" id="{{field.id_for_label}}" class="form-control descArea ">
                      {% else %}
                        <input type="text"  name="{{field.html_name}}" id="{{field.id_for_label}}" class="form-control" placeholder="Enter {{field.label}}" aria-describedby="helpId">
                      {% endif %}
                        <small id="helpId" class="text-muted">{{field.help_text}}</small>
                    {% endfor %}                          
                    <button type="submit" class="btn btn-primary mt-4" >Submit</button>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>

{% endblock %}